@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    background: whitesmoke;
}

#login-dropdown-list {
    position: fixed;
    top: unset;
    left: unset;
    bottom: 219px;
    right: 75px;
    background-color: whitesmoke;
    z-index: 1200 !important;
    visibility: visible;
}

@media (max-width: 767px) {
    #login-dropdown-list {
        bottom: 149px;
        right: 10px;
    }
}