@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    background: whitesmoke;
}

#login-dropdown-list {
    position: fixed;
    top: 99px;
    left: unset;
    right: 10px !important;
}

@media (max-width: 767px) {
    #login-dropdown-list {
        top: unset;
        bottom: 49px;
    }
}