@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    background: rgb(42, 43, 44) !important;
    color: whitesmoke !important;
}

#login-dropdown-list {
    position: fixed;
    top: 100px;
    left: 0;
    background-color: whitesmoke;
    z-index: 1200 !important;
    visibility: visible;
}
